{% extends 'bootstrap/base.html' %}
{% from 'bootstrap/utils.html' import flashed_messages %}
{% from 'metrika.html' import metrika %}


{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
    {{ super() }}
    {% if yandex %}
        {{ metrika(yandex) }}
    {% endif %}
{% endblock scripts %}

{% block head %}
    {{ super() }}
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block content %}
    <div class="container">
        {% if title is defined and title %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ title }}
                        {% if subtitle is defined and subtitle %}
                            <small>{{ subtitle }}</small>
                        {% endif %}
                    </h1>
                    {% if crumb is defined and crumb %}
                        <ol class="breadcrumb">
                            <li><a href="{{ crumb.url }}">{{ crumb.parent }}</a></li>
                            <li class="active">{{ crumb.title }}</li>
                        </ol>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {{ flashed_messages(messages=messages, container=False) }}
                    </div>
                </div>
            {% endif %}
        {% endwith %}

        {% block page %}{% endblock %}

        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; {{ copyright }}</p>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}

{% block navbar %}
    {{ nav.nav_bar.render(renderer='CIPress') }}
{% endblock %}
