{% extends "layout.html" %}
{% from "bootstrap/wtf.html" import quick_form %}
{% block page %}
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                {% for tab in tabs %}
                    <li class="{{ tab.active and 'active' or '' }}">
                        <a href="{{ tab.url }}">
                            <span class="glyphicon glyphicon-{{ tab.glyph }}"></span> {{ tab.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <h3>{{ message }}</h3>
            <div class="col-md-8">
                {{ quick_form(form, form_type='horizaontal', button_map={'submit_button': 'primary'})}}
            </div>
        </div>
    </div>
{% endblock %}