{% extends "layout.html" %}
{% from "macroses.html" import render_form %}

{% block styles %}
    {{super()}}
    <link href="{{ url_for('static', filename='css/bootstrap-markdown-editor.css') }}" rel="stylesheet">
{% endblock styles %}
{% block scripts %}
    {{super()}}
    {% if special_form is defined and special_form %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-markdown-editor.js') }}"></script>
        <script>
            $('#special-body').markdownEditor({
                fullscreen: false
            });
        </script>
    {% endif %}
{% endblock scripts %}

{% block page %}
    <div class="row">
        <!-- Blog Post Content Column -->
        <div class="col-lg-8">
            <img class="img-responsive" src="{{ post.banner and post.banner|resize('900x300', upscale=False) or '//placehold.it/900x300&text=No Graphical Abstract' }}" alt="">
            <hr>

            {{ post.body|markdown }}

            {% if special_field is defined and special_field %}
                {{ special_field|markdown }}
            {% endif %}

            {% if attachments is defined and attachments %}
                {% for i in attachments %}
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="{{ url_for('.download', file=i.file, name=i.name) }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-save-file"></span> {{ i.name|truncate(15, True) }}
                        </a>
                        {% if deletable %}
                            <a href="{{ url_for('.remove', file=i.file, name=i.name,
                                                next=url_for('.blog_post', post=post.id)) }}" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if special_form is defined and special_form %}
                <hr>
                {{ render_form(special_form, button_map={'submit_button': 'primary'})}}
            {% endif %}

            <hr>
            <p><span class="glyphicon glyphicon-time"></span> {{ post.date.strftime('%B %d, %Y at %H:%M') }}. <span class="glyphicon glyphicon-pencil"></span> {{ post.author_name }}</p>
        </div>

        <div class="col-md-4">
            {% if children is defined and children %}
                <ul class="nav list-group">
                    {% for i in children %}
                        <li>
                            <a href="{{ i.url }}">{{ i.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}