{% extends "layout.html" %}
{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='marvinjs/gui/lib/promise-1.0.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='marvinjs/js/webservices.js') }}"></script>
    <script src="{{ url_for('static', filename='marvinjs/js/marvinjslauncher.js') }}"></script>
    <script src="{{ url_for('static', filename='js/predictor.js') }}"></script>
{% endblock scripts %}

{% block styles %}
    {{super()}}
    <link href="{{ url_for('static', filename='css/predictor.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}
    <div id="root"></div>
{% endblock %}