{% extends "layout.html" %}
{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='marvinjs/gui/lib/promise-1.0.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='marvinjs/js/webservices.js') }}"></script>
    <script src="{{ url_for('static', filename='marvinjs/js/marvinjslauncher.js') }}"></script>
    <script src="{{ url_for('static', filename='js/{}.js'.format(page)) }}"></script>
{% endblock scripts %}

{% block styles %}
    {{super()}}
    <link href="//unpkg.com/react-select/dist/react-select.css" rel="stylesheet" >
    <link href="{{ url_for('static', filename='css/{}.css'.format(page)) }}" rel="stylesheet">
        <style media="screen" type="text/css">
        body {
            padding-top: 0;
        }
    </style>
{% endblock styles %}

{% block content %}
    <div id="root"></div>
{% endblock %}