{% extends 'layout.html' %}

{% block section %}
<div class="slider" style="background-image: url({{ url_for('static',
                                                            filename='images/' + banner if banner else
                                                                     'banner.jpg') }})"></div>

<section class="blog-area section">
    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-lg-4 col-md-6">
                <div class="card h-100">
                    <div class="single-post post-style-1">
                        <div class="blog-image">
                            <img src="{{ url_for('static',
                                                 filename='images/' + post.banner if post.banner else
                                                          'banner.jpg') }}" alt="Blog Image">
                        </div>
                        <div class="blog-info">
                            <h4 class="title">
                                <a href="{{ url_for('.post_page', post=post.id) }}"><b>{{ post.title }}</b></a>
                            </h4>
                            <ul class="post-footer">
                                <li><a href="{{ url_for('.popular', category=category) }}"><i class="ion-eye"></i>{{ post.views }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if next_page %}
        <a class="load-more-btn" href="{{ url_for('.index', page=next_page, category=category) }}">
            <b>Older News</b>
        </a>
        {% endif %}
    </div>
</section>
{% endblock %}
